
<!--  

<footer class="footer py-1 mt-auto">
    <div style="color: white;" class="container d-flex justify-content-center align-items-center">
        <p  class="text-center text-light fw-lighter"><h6>&copy;Sharda.Com 2025</h6></p>
        &nbsp; &nbsp;  &nbsp;
        <p class="text-center text-light fw-lighter" >Last Reviewed and Updated: <?php echo date("d/m/Y", filemtime(__FILE__)); ?></p>

    </div>
</footer>
-->


<footer class="footer py-1 mt-auto">
    
    <div style="color: white;" class="container d-flex justify-content-center align-items-center">
        <p  class="text-center text-light fw-lighter" >This web site is designed and developed by : Sharda.com Manish Singh U.P. State Unit,Noida</p>&nbsp; 
        <h6 style="margin-bottom: 15px;" class="text-center text-light fw-lighter">&copy; Sharda.Com:- <?php echo date("Y"); ?></h6>
        &nbsp;  
        <p class="text-center text-light fw-lighter">
            Last Reviewed and Updated: 
            <?php echo date("d/m/Y H:i:s", time()); ?>
        </p>
    </div>
</footer>
